.Side_bar
  .LeftHeader
    .Top-items
      .Top-items__name
        = current_user.name
      .Top-items__icons
        = link_to "#", class: "Top-items__btn edit-btn" do
          = icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "Top-items__btn cog-btn" do
          = icon('fas', 'cog')
          %span<>

  .Groups
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
    .Group
      = link_to "#" do
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
